.post-author {
    height: 8rem;
    margin-top: 2.5rem;
    @at-root .post-content + & {
        max-width: 55rem;
        margin-left: auto;
        margin-right: auto;
    }
}

.post-author-image {
    border-radius: 50%;
    margin-right: 2rem;
    float: left;
    height: 8rem;
}

.post-author-name {
    padding-top: 5rem;
}
