h1,
h2,
h3,
h4,
h5 {
    font-weight: 300;
    &.accent {
        &:before {
            content: '';
            display: block;
            position: relative;
            width: 0;
            height: 0;
            border-bottom: 0.5rem solid transparent;
            border-left: 0.5rem solid $brown-fox-orange;
            margin-left: -0.5rem;
            margin-right: 0rem;
            float: left;
            margin-bottom: 0;
        }
    }
}

.large-title {
    color: rgba($black, 0.8);
}
